.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  //   margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

// FP News & Events
.content-wrapper {
  max-width: 1300px;
  margin: 0 auto;

  .fp-cat-title {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: $font__secondary;
    padding: 5.5em 0;
    text-align: center;
  }

  .fp-cat-title h1 {
    font-size: 2.8em;
    font-weight: bold;
    text-transform: uppercase;
  }

  hr.cat-title {
    background-color: $color__site-main;
    height: 6px;
    margin: 0 auto;
    width: 8.2em;
  }

  @media screen and (max-width: $mediaQuery__small) {
    .fp-cat-title {
      padding: 3em 0;
    }

    .fp-cat-title h1 {
      font-size: 2em;
    }
  }
}
