body {
  background: $color__background-body; // Fallback for when there is no custom background color defined.
  max-width: $mediaQuery__large;
  margin: 0 auto !important;
}

.debug {
  border: 1px solid;
  border-color: $color__debug;
}
